/**
 * Design System myCFiia - Hexagones Décoratifs
 * Formes hexagonales avec contours uniquement
 */

/* ====================================
   Hexagone de base
   ==================================== */
.hexagon {
    position: absolute;
    width: 150px;
    height: 150px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 50%,
        70% 100%,
        30% 100%,
        0% 50%
    );
    z-index: 0;
}

/* ====================================
   Hexagones positionnés
   ==================================== */

/* Coin supérieur gauche */
.hexagon-top-left {
    top: 10%;
    left: 5%;
    width: 120px;
    height: 120px;
    opacity: 0.6;
}

/* Coin supérieur droit */
.hexagon-top-right {
    top: 15%;
    right: 8%;
    width: 100px;
    height: 100px;
    opacity: 0.4;
}

/* Coin inférieur gauche */
.hexagon-bottom-left {
    bottom: 20%;
    left: 8%;
    width: 90px;
    height: 90px;
    opacity: 0.5;
}

/* Coin inférieur droit */
.hexagon-bottom-right {
    bottom: 25%;
    right: 5%;
    width: 130px;
    height: 130px;
    opacity: 0.6;
}

/* Hexagone central petit (milieu gauche) */
.hexagon-middle-left {
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    opacity: 0.3;
}

/* Hexagone central petit (milieu droit) */
.hexagon-middle-right {
    top: 45%;
    right: 3%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    opacity: 0.4;
}

/* ====================================
   Hexagone avec contour uniquement (style alternatif)
   ==================================== */
.hexagon-outline {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

/* ====================================
   Responsive
   ==================================== */
@media (max-width: 768px) {
    .hexagon {
        width: 80px;
        height: 80px;
    }

    .hexagon-top-left {
        width: 60px;
        height: 60px;
    }

    .hexagon-top-right {
        width: 50px;
        height: 50px;
    }

    .hexagon-bottom-left {
        width: 45px;
        height: 45px;
    }

    .hexagon-bottom-right {
        width: 65px;
        height: 65px;
    }

    .hexagon-middle-left,
    .hexagon-middle-right {
        width: 40px;
        height: 40px;
    }
}
