{% extends 'layouts/auth.html.twig' %}

{% block title %}Connexion - myCFiia{% endblock %}

{% block auth_content %}
    <div class="auth-card">
        <div class="auth-logo">
            <img src="{{ asset('images/logo.svg') }}" alt="myCFiia Logo">
        </div>

        <h4 class="auth-title">Connectez-vous</h4>

        {% if error %}
            <div class="alert alert-danger mb-3">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form method="post" class="auth-form">
            <div class="col-11 mx-auto">
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <input
                        type="text"
                        id="username"
                        name="_username"
                        class="form-control"
                        value="{{ last_username }}"
                        required
                        autofocus
                        placeholder="Identifiant"
                    >
                </div>

                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="bi bi-lock"></i>
                        </div>
                    </div>
                    <input
                        type="password"
                        id="password"
                        name="_password"
                        class="form-control"
                        required
                        placeholder="Mot de passe"
                    >
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block px-4">
                            Connexion
                        </button>
                    </div>
                    <div class="col-12 text-center pt-4">
                        <a href="#" class="startlink">mot de passe ou identifiant oublié ?</a>
                    </div>
                </div>
            </div>
        </form>

        <div class="auth-footer">
            <p>Vous n'avez pas de compte, prenez contact avec nous.</p>
            <div class="custom-btns">
                <a href="https://www.cfi-technologies.fr" target="_blank" class="btn btn-icon" title="Site Web">
                    <i class="bi bi-globe"></i>
                </a>
                <a href="https://www.linkedin.com/company/cfitechnologies" target="_blank" class="btn btn-icon" title="LinkedIn">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="mailto:projets@cfitech.io" class="btn btn-icon" title="Email">
                    <i class="bi bi-at"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
